# Sandbox directories (symlinks) #
anonymized
evaluation
models
plots
report
report-enhanced
streams
results
dumped-report
logs

# Libraries #
lib/

# Python compiled files #
*.pyc

# Automated parallel computation scripts #
Makefile
