# Sandbox directories #
anonymized
evaluation
models
plots
report
report-enhanced
streams
results
dumped-report
logs
throughput
lib
scalability

# Python compiled files #
*.pyc

# Automated parallel computation scripts #
Makefile

# node.js based streamer #
meetup-streamer/node_modules
