# Sandbox directories #
anonymized
evaluation
models
plots
report
report-enhanced
streams
results
dumped-report
logs
throughput
lib

# Python compiled files #
*.pyc

# Automated parallel computation scripts #
Makefile
